.card {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 10px;

    max-width: 900px;
    margin-bottom: 24px;
    padding: 20px 24px 24px 24px;

    background-color: #fff;
    border: 1px solid #000;
    border-radius: 14px;

}

/* ---- IMAGE --------------------------------------------------------- */

.imageContaner {
    width: 380px; 
    height: 240px; 
    overflow: hidden; 
    position: relative;
    margin: 10px 14px 0 0; 
}

img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    border: transparent;
    border-radius: 12px;
}

/* ---- CARD INFO ----------------------------------------------------- */

.cardInfo {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.cardInfo2 {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 14px;
    padding: 12px;
    margin-bottom: 16px;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

/* .sectionNameAndPrice {
    margin-bottom: 16px;
} */

.advertName {
    font-size: 26px;
    font-weight: 300;
    margin: 0;
}

p {
    margin: 0;
}

.price {
    display: flex;
    /* flex-direction: row; */
    gap: 8px;
    margin: 0;

    font-size: 26px;
    font-weight: 500;
}

/* ---- ADD TO FAVORITE BUTTON ---------------------------------------- */

.favoriteButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 32px;
    transition: all 0.3s;
}

.favoriteButton svg {
    width: 26px;
    height: 26px;
    transition: fill 0.3s, stroke 0.3s;
}

.favorite {
    fill: #891919;
    stroke: #891919;
    transition: all 0.3s;

}

.notFavorite {
    fill: none;
    stroke: #000; 
    transition: all 0.3s;

}

/* .favoriteButton:hover .favorite {
    fill: none;
    stroke: #000; 
        transition: all 0.3s;

} */

.favoriteButton:hover .notFavorite {
    fill: #891919;
    stroke: #891919;
}

/* ---- RATING AND LOCATION --------------------------------------------- */

.sectionRatingAdnLocation {
    display: flex;
    justify-content: flex-start;
    gap: 28px;
    margin-bottom: 16px;
}

.rating svg,
.location svg {
    margin-right: 6px;
}


/* ---- DESCRIPTION -------------------------------------------------- */

/* .sectionDescription {
    margin-bottom: 24px;
} */

/* ---- CATEGORIES -------------------------------------------------- */

.categories ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.categories li {
    display: flex;
    gap: 8px;
    padding: 8px 18px;
    border-radius: 12px;
    border: 1px solid transparent;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    align-items: center;
    justify-content: center;
}

/* .categories svg {
    stroke: #000;
} */

/* ---- SHOW MORE BUTTON -------------------------------------------- */

.showMore {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    /* margin-bottom: 8px; */
}

.showMoreButton {
    background-color: #000;
    color: #fff;
    border-radius: 12px;
    border: 1px solid #000;
    right: 0;
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    width: 120px;
    transition: all 0.3s;
}

.showMoreButton:hover {
    background-color: #fff;
    color: #000;
}